@charset "gb2312";

*{margin:0;padding:0;list-style:none;}
body{font-size:12px;color:#333;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#000;}

.wrapper{ width:100%; height:390px; }

/* mainbanner */
.mainbanner{height:390px;overflow:hidden; position:relative;}
.mainbanner_window{left:50%;width:2000px;height:390px;overflow:hidden;margin-left:-1000px;position:absolute;}
.mainbanner_window ul{width:999999px;height:390px;position:relative;}
.mainbanner_window li{background:rgb(204, 204, 204);width:2000px;height:390px;text-align:center;font-size:0px;float:left;display:inline;}
.mainbanner_list{left:50%;top:350px;width:500px;height:30px;margin-left:-75px;position:absolute;}
.mainbanner_list li{width:30px;height:30px;overflow:hidden;float:left;display:inline;}
.mainbanner_list a{background:url("../images/nvbtn.png") no-repeat;width:25px;height:25px;line-height:25px;overflow:hidden;text-align:center;color:rgb(255, 255, 255);font-size:12px;font-weight:700;float:left;display:inline-block;}
.mainbanner_list li.active a{background-position:0 -30px;text-decoration:none;}
.mainbanner_list li a:hover{background-position:0 -30px;text-decoration:none;}

/* mainbanner */
.secbanner{height:317px;overflow:hidden; position:relative;}
.secbanner_window{left:50%;width:2000px;height:317px;overflow:hidden;margin-left:-1000px;position:absolute;}
.secbanner_window ul{width:999999px;height:317px;position:relative;}
.secbanner_window li{background:rgb(204, 204, 204);width:2000px;height:317px;text-align:center;font-size:0px;float:left;display:inline;}
.secbanner_list{left:50%;top:330px;width:500px;height:30px;margin-left:-75px;position:absolute;}
.secbanner_list li{width:30px;height:30px;overflow:hidden;float:left;display:inline;}

.top{ width:100%; height:90px; background:#F8F8F8; }
.topmain{ width:1002px; margin: 0 auto; }

/*logo_start*/
.top_left{ width:360px; height:90px; float:left; }
.top_left img{ width:360px; height:90px; }
.top_right{ width:360px;  float:right; }
/*logo_end*/

/*search_start*/
.search{width:250px; height:28px; float:right; margin-top:30px; }
.searchinput{background:url("../images/sousuo.jpg") no-repeat; width:150px; height:28px; border:0px; float:left; color:#999; font-size:12px; padding-left:35px; line-height:28px;}
.searchbutton{float:left;  width:50px; height:28px; }
.searchmore{ background:#003f8d; color:#FFF; font-size:12px; font-family:"풻"; text-align:center; width:100%; height:30px; margin-top:10px; margin-bottom:10px; line-height:30px; }
.searchmore a{ color:#FFF;}
.search_con{ color:#666666; line-height:22px;}
/*search_end*/

/*telphone_start*/
.toptel{ width:250px; height:28px; float:right; margin-top:30px; text-align:right; }
.toptel p{ line-height:28px; height:28px; color:#05498A; font-size:16px; font-family:"풕턼환쥌"; font-weight:bold; }
/*telphone_end*/

.container { margin: 0 auto; width:1002px; position: relative;  }
.nvgation{ width:100%; height:53px; background:#FFFFFF;}

.main-menu, .main-menu ul{ margin:0; padding:0; list-style:none; float:left; }
.main-menu li, main-menu ul a{ position:relative; }
.main-menu > li{ float:left; }
.main-menu li > a{ display:block; }
.main-menu ul { position:absolute; display:none; width:150px; }
.main-menu ul ul{ top:0px; left:150px; }
.main-menu li:hover > ul{ display:block; }

.main-menu a{ text-decoration:none; text-align:center; }
.main-menu > li > a{ color:#132672; font-size:16px; font-family:"풕턼환쥌"; font-weight:bold; line-height:24px; 
				padding:14px 30px 15px 30px; border-left:1px solid #05498A; }
.main-menu > li:last-child{ border-right:1px solid #05498A; }
.main-menu > li:hover > a{ background:#CCD0D9; padding-left:30px; margin:0px 0px 0px 0px; }

/* Sub Menu */
.main-menu ul{ background:#FFFFFF; border:1px solid #E0E0E0; border-top:none; left:1px; z-index:9999; -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.04);
				box-shadow:0 1px 1px rgba(0,0,0,0.04);}
.main-menu ul a{ color:#aab2bd; font-size:12px; line-height:18px; padding:9px 12px; border-top:1px solid #E6E6E6; }

.lang{ height:52px; color:#666666; border-left:1px solid #BBBBBB; border-right:1px solid #BBBBBB; float:right; line-height:52px; font-size:16px; }
.lang a{ font-size:14px; font-family:"풕턼환쥌"; font-weight:bold; line-height:52px;color:#666666; padding-left:20px; padding-right:20px; }
.lang a:hover{ color:#F37529; }


/*banner*/
.index_banner_cont { width:100%; position:relative;}
.index_banner_scroll { position:relative;}
.index_banner_scroll div { position:absolute; top:0; left:50%; margin-left:-950px; z-index:0;}
.banner_btn { width:196px; height:46px; position:absolute; top:45px; right:50%; margin-right:-593px; z-index:10;}
.banner_list { height:46px; position:absolute; top:0;}
.banner_list span { width:53px; height:2px; background-color:#fff; margin:0 6px; display:block; float:left; cursor:pointer;}
.banner_list span.current { background-color:#333;}
.banner_span { display:none; position:absolute; top:0;}
.banner_span a { width:49px; height:42px; opacity:0.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* ie8  */
    filter:alpha(opacity=50);    /* ie5-7  */
    -moz-opacity:0.5;    /* old mozilla browser like netscape  */
    -khtml-opacity: 0.5;  background-color:#fff; display:block; margin:0 6px; float:left; padding:2px;}
.banner_span a.current { opacity:1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* ie8  */
    filter:alpha(opacity=100); /* ie5-7  */
    -moz-opacity:1;    /* old mozilla browser like netscape  */
    -khtml-opacity: 1; }

.index-banner { width:1900px; position:relative; overflow:hidden; height:530px;}
.banner-ifo { width:1900px; position:absolute; left:50%; margin-left:-800px; top:0; height:530px; overflow:hidden; z-index:0;}
.index-btn { width:1179px; height:40px; margin:-40px auto 0 auto; background:url(../images/index-btnbg.png) repeat; z-index:100;}
.index-btn span {height:40px; float:left; border-right:1px solid #a7a7a7; color:#fff; line-height:40px; cursor:pointer;}
.index-btn a {  background: url(../images/iebg.gif) repeat scroll; _position:relative; display: block; float: left; height: 40px;line-height: 200px; margin-top: -39px; width: 294px; }
.index-btn span.cur,.index-btn span.cur1 { background-color:#31bdeb;}
.btn1 { width:179px; background:url(../images/btn1.png) no-repeat 80px center; padding-left:115px;}
.btn2 { width:159px;  background:url(../images/btn4.png) no-repeat 105px center; padding-left:135px;}
.btn3 { width:164px;  background:url(../images/btn3.png) no-repeat 100px center; padding-left:130px;}
.btn4 { width:164px;  background:url(../images/btn2.png) no-repeat 100px center; padding-left:130px;}
.browser{ position:absolute; bottom:0; left:50%; margin-left:-590px; z-index:100;}
.index_menu { width:1180px; position:absolute; bottom:40px; left:50%; margin-left:-590px; z-index:101;}
.index_menu_item { width:257px; padding:20px 19px 0 19px; background-color:#fff;}
.index_menu_item div { padding:25px 0;}
.index_menu_item div a { width:123px; padding-left:5px; float:left; line-height:27px; font-family:"Microsoft YaHei"; font-size:14px;}
.index_menu_item div img { width:258px; height:112px;}
.menuItem1 { position:absolute; left:0; top:0;}
.menuItem2 { position:absolute; left:295px; top:0;}
.menuItem3 { position:absolute; left:590px; top:0;}
.menuItem4 { position:absolute; left:884px; top:0;}
.menu-title .item-title { border-bottom:none; height:30px;}

/*main_start*/
.main{ width:1010px; height:250px; margin: 0 auto; }

.mainleft{ width:289px; height:250px; float:left; }
.lefttitle{ width:289px; height:33px; }
.leftline{  width:289px; height:1px; margin-top:5px; }



.maincenter{ width:412px; height:250px; float:left; }
.centertitle{ width:390px; height:33px; }
.titlemore{ width:46px; height:22px; float:right; margin-top:5px; }
.centerline{  width:412px; height:1px; margin-top:5px; }
.centercontent{ width:412px; height:205px; margin-top:10px; float:left; }

.maintop{ width:412px; height:80px; }
.maintop img{ width:125px; height:80px; float:left; }
.maintop p{ width:270px; height:80px; float:left; padding-left:10px; padding-right:5px; text-align:left; color:#666666; line-height:20px; font-size:12px; color:#666666; font-family:"풕턼환쥌"; word-break:break-all; text-indent:2em; }
.maintop p a{ line-height:20px; font-size:13px; color:#666666; font-family:"풕턼환쥌"; word-break:break-all; }

.mainbottom{ width:412px; height:92px; margin-top:10px; }
.mainbottom img{ width:131px; height:92px; float:left; margin-right:5px;}

.mainright{ width:309px; height:250px; float:left; }
.righttitle{ width:309px; height:33px; }
.rightline{  width:309px; height:1px; margin-top:5px; }
.rightvideo{ width:309px; height:205px; float:right; margin-top:10px; }
.rightvideo img{ float:right; padding-right:20px; }
/*main_end*/

/*topline_start*/
.topline{  width:100%; height:38px; background:url(../images/bg_line.jpg) repeat-x; }
/*topline_end*/

/*main_pro_start*/
.main_pro{ width:1010px; min-height:950px; margin: 0 auto; }
/*main_pro_end*/

/*main_pro_start*/
.main_news{ width:1010px; min-height:500px; margin: 0 auto; }
/*main_pro_end*/

/*producttype_start*/
.producttype{ float:left; width:770px; height:846px; border:1px solid #EEEEEE;}
.producttype ul{}
.producttype ul li{ width:760px; height:125px; list-style:none; text-align:left; border-bottom:1px dotted #05498A; padding:5px 5px 5px 5px; font-family:"풕턼환쥌"; margin:5px 0px 5px 0px; }
.producttype ul li span{ width:150px; height:125px; float:left; }
.producttype ul li span img{ max-width:150px; max-height:125px; border:1px solid #EEEEEE; padding:1px;  }

.producttype ul li h4{ line-height:15px; font-size:14px; font-family:"풕턼환쥌"; color:#EEEEEE; float:left; padding:10px; }
.producttype ul li h4 a{ color:#666666; padding-left:12px !important;}
.producttype ul li h4 a:hover{ color:#06498A; }

.producttype ul li p{ margin-top:36px; margin-left:160px; margin-bottom:2px; line-height:18px; font-size:12px; font-family:"풕턼환쥌"; color:#666666; text-indent:0em !important; padding-left:12px !important; }
/*producttype_end*/

/*selfpage_start*/
.selfpage{ margin:0 auto; width:750px; height:420px; border:0px solid #DDDDDD; text-align:center; vertical-align:middle; }
.pageing{ width:750px; height:420px; }
.pageing li{ list-style:none; width:170px; height:180px; float:left; margin:5px 5px 5px 5px; border:3px solid #CCCCCC; border-radius:1px; }
.pageing li:hover{ border:3px solid #666666; }
.pageing li p{ width:170px !important; height:150px; margin-top:0px; margin-bottom:0px; padding-top:1px; padding-left:0px !important; padding-right:0px !important;}
.pageing li p a{ padding:1px; margin-left:-24px !important; }
.pageing li p a img{ max-width:168px; max-height:148px; border-radius:3px; }
.pageing li span{ width:170px; height:30px; margin-top:0px; padding-top:0px; }
.pageing li span a{ line-height:30px;  text-decoration:none; color:#333333; }

.changpage{  margin:0 auto; width:750px; height:30px; text-align:right; padding-right:35px; font-size:13px; }
.changpage a{ line-height:30px; color:#333333; text-decoration:none; color:#333333; }
.changpage a:hover{ color:#333333; }
/*selfpage_end*/

/*indexproducttype_start*/
.indexnewslist{ margin-left:20px; margin-right:30px; margin-top:8px; }
.indexnewslist ul{}
.indexnewslist ul li{ width:260px; height:20px; margin-top:6px; margin-bottom:5px; list-style:disc; margin-left:0px; }
.indexnewslist ul li a{ width:160px; display:block; word-break:keep-all; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; line-height:20px; font-size:13px; color:#666666; font-family:"풕턼환쥌"; padding-left:-20px; float:left; }
.indexnewslist ul li a:hover{ color:#11286E; }
.indexnewslist ul li span{ float:right; padding-right:20px; }
/*indexnewslist_end*/

/*main_nei_start*/
.main_nei{ width:1010px; min-height:500px; margin: 0 auto; }
.mainleft_n{ width:220px; min-height:500px; float:left; }
.mainleft_n ul{ padding-top:15px; padding-bottom:15px; width:203px; text-align:center; float:left; background:#F1F1F1; }
.mainleft_n ul li{ width:203px; height:29px; margin-top:6px; margin-bottom:5px; list-style:none; margin-left:0px; }
.mainleft_n ul li:hover{ background:url(../images/dhlm.png) no-repeat; }
.mainleft_n ul li a{ width:203px; display:block; word-break:keep-all; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; line-height:29px; font-size:13px; color:#666666; font-family:"풕턼환쥌"; padding-left:-20px; float:left; }
.mainleft_n ul li a:hover{ color:#FFFFFF; text-decoration:none; }

#licurrent{ background:url(../images/dhlm.png) no-repeat; color:#FFFFFF; }
#licurrent a{ color:#FFFFFF; }

.mainright_n{ width:770px; min-height:500px; float:left; margin-right:20px; }
.mainright_n h3{ height:36px; width:100%; line-height:36px; padding-left:15px; padding-top:5px;  font-family:"풕턼환쥌"; font-size:16px; }
.mainright_n p{ line-height:24px; padding-left:15px; font-family:"풕턼환쥌"; font-size:12px; margin-top:15px; text-indent:2em; }
/*main_nei_end*/

/*newslist_start*/
.newslist{ margin-left:15px; margin-right:30px; margin-top:8px; }
.newslist ul{}
.newslist ul li{ width:95%px; height:26px; margin-top:6px; margin-bottom:5px; list-style:disc; margin-left:0px; }
.newslist ul li a{ width:85%; display:block; word-break:keep-all; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; line-height:26px; font-size:13px; color:#666666; font-family:"풕턼환쥌"; padding-left:-20px; float:left; }
.newslist ul li a:hover{ color:#11286E; }
.newslist ul li span{ float:right; padding-right:20px; }
/*newslist_end*/

/*bottomline_start*/
.bottomline{ width:100%; height:12px; background:url(../images/bg_line2.jpg) repeat-x; }
/*bottomline_end*/

/*foot_start*/
.footb{ width:100%; height:162px; background:#F9F9F9; background:url(../images/bottom_bg1.jpg) repeat-x; }
.foot{ width:1010px; height:34px; margin: 0 auto; }

.footbleft{ width:700px; height:162px; float:left; }
.footmenu{ width:700px; height:20px; float:left; margin-top:20px; }
.footmenu a{ line-height:20px; height:20px; font-family:"풕턼환쥌"; font-size:12px; color:#AAAAAA; }
.footmenu a:hover{ text-decoration:none; color:#FFFFFF; }
.footmenu span{ padding-right:10px; padding-left:10px; font-size:12px; color:#AAAAAA; line-height:20px; height:20px;}

.footcnct{ width:700px; height:122px; float:left; }
.footcol{ width:345px; height:100px; float:left; margin-top:20px; }
.footcol ul{}
.footcol ul li{ list-style:none; width:345px; line-height:20px; font-size:12px; font-family:"풕턼환쥌"; color:#AAAAAA; float:left; }

.footbright{ width:310px; height:162px; float:left; }
.footbright img{ float:right; max-height:162px; max-width:300px; }

/*foot_end*/

/*footcpy_start*/
.footcpy{ width:100%; height:50px; background:#2D2D2D; }
.footct{ width:1010px; height:50px; margin: 0 auto; }

.footleft{ width:501px; height:50px; float:left; color:#FFFFFF; }
.footleft a{ line-height:50px; font-size:14px; color:#FFFFFF; width:50px;  font-family:"풕턼환쥌"; padding:0px 15px 0px 0px; text-decoration:none; }


.footright{ width:501px; height:50px; float:right; color:#FFFFFF; text-align:right; }
.footright a{ line-height:50px; font-size:14px; color:#FFFFFF;  font-family:"풕턼환쥌"; padding:0px 15px 0px 15px; text-decoration:none; }
/*foot_end*/


/*챬쒦온*/
TABLE.navFloat {Z-INDEX: 2; font-size:12px;font-weight:normal; VISIBILITY: hidden; WIDTH:110px; POSITION: absolute; height:30px; line-height:30px; color:#ffffff; }
TABLE.navFloat A {DISPLAY: block;font-size:12px;  PADDING-BOTTOM: 0px; WIDTH: 110px;font-weight:normal; color:#ffffff; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-DECORATION: none; font-family:"풻"; }
TABLE.navFloat A:hover {color:#f1d53b; background-image:url(images/lm_bg.png);   font-size:12px; TEXT-DECORATION: none; font-weight:normal;}